{{<storefront/layout}}
{{$content}}    <h1>{{shop.name}}</h1>
    <ul>
        {{#experiences}}
        <li>
            <a href="{{url}}">
                {{#thumbnailUrl}}<img src="{{thumbnailUrl}}" alt="{{name}}">{{/thumbnailUrl}}
                <h2>{{name}}</h2>
            </a>
            {{#description}}<p>{{description}}</p>{{/description}}
            <p>From {{shop.currency.symbol}}{{startingPrice}}</p>
        </li>
        {{/experiences}}
    </ul>{{/content}}
{{/storefront/layout}}
